@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    height: 100vh;
    padding: 5px;

}



.scene {
    width: 100%;
    height: 100%;
    background-image: url(/img2/outofspace.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;

}

.scene img {
    position: absolute;
}

.moon {
    bottom: 10px;
    right: 10px;
    width: 300px;
    z-index: 1;
    animation: moon-spin 3s infinite linear forwards;
}

.astronaut {
    top: 200px;
    right: 30px;
    width: 200px;
    z-index: 1;
    animation: astronaut-move 10s forwards infinite;


}

.comet {

    z-index: 1;
    top: 100px;
    left: -20px;
    width: 35%;
    animation: comet-move 10s infinite forwards;

}

.stars{
z-index: 1;
height:100% ;
width: 100%;
object-fit: cover;
animation: star-rotate 15s infinite linear forwards;



}

.spaceship{
z-index: 1;
top: 100px;
width: 5%;
animation: spaceship-move 10s infinite forwards;
transform: scale(1);


}

@keyframes astronaut-move {
    to {
        transform:
            translate(-400px, 100px) rotate(720deg);
    }
}


@keyframes moon-spin {
    to {
        transform: rotate(60deg);
    }
}

@keyframes comet-move {
    to {
        transform: translate(400px, -100px);
    }
}



@keyframes star-rotate {
    to {
        transform: rotate(60deg);
    }
}

@keyframes spaceship-move {
    25% {
        transform: scale(0.5) translate(200px, 100px);
      }
      50% {
        transform: scale(1.5) translate(150px, 250px);
      }
      75% {
        transform: scale(3) translate(px, 300px);
      }
      80% {
        transform: scale(5) translate(px, 350px);
      }
      100% {
        transform: scale(8) translate(-400px, -200px);
      }
    }