/* this is universal selecter */ 

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

*{
margin:0;
padding:0;
background-color: blueviolet;
font-family: 'Plus Jakarta Sans', sans-serif}

.container1{

    position: absolute;
    border: 3px solid green;
    color: aquamarine;

}

.container2{

    position: relative;
    border: 3px solid green;
    color: aquamarine;
}




