*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

:root{
    --bg-color: #232931;
    --second-bg-color: #393E46;
    --text-color: #eeeeee;
    --second-color: #7F5AF0;
    --main-color: #4ECCA3;
    --big-font:5.3rem;
    --h2-font:4.2rem;
    --p-font:1.2rem;



}

body{

    background: var(--bg-color);
    color: var(--text-color);
}

header{

    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}

.logo{

    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;

}

.navbar{

display:flex;
}

.navbar li{
position: relative;
}

.navbar a{

    color: var(--text-color);
    font-weight: bold;
    font-size:1rem;
    padding: 10px 20px
}

.navbar a::after{

    content:'';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.navbar a:hover::after{

width: 100%;

}

#menu-icon{

    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;

}

section{

    padding: 120px 15%;
}

.home{
    height:100vh ;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center  ;

}

.profile_image{

    width: 200px;
    height: 200px;
    border-radius: 30px;

}